/* Giallo barra di ricerca */
.search-input:focus {
    border-color: #ffc107 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25) !important;
    outline: none !important;
}

/* Colore giallo per il focus dei select */
.yellow-focus:focus {
    border-color: #ffc107 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25) !important;
    outline: none !important;
}
